#schaakbord {
    width: 480px;
    height: 480px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid #000;
}

#schaakbord div {
    width: 60px;
    height: 60px;
}

.wit {
    background-color: #fff; 
}

.grijs {
    background-color: #777; 
}
